/* 
background hero-footer
#1F2937

hero main text "this website is awesome"
48px extra-bold #F9FAF8

hero secondary text, header link text
18px #E5E7EB

header logo text
24px #F9FAF8

button color, call to action background color
#3882F6

information header text
36px extra-bold #1F2937

quote section background color
#E5E7EB

quote text
36px light italic #1F2937
*/
body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a, ul, li {
    margin: 0;
    padding: 0;
}
.header {
    background-color: gray;
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
}
.header .right {
   /* margin-left: auto;*/
}

.footer{
    margin-top: auto;
}