
/*
TROUBLESHOOTING
*/
* {
    border: 1px solid red;
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}


/*
UNIVERSAL CSS PROPERTIES
*/
body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}
ul {
    display: flex;
    padding:0;
    list-style: none;
    gap: 10px;
}

/*
HEADER CSS PROPERTIES
*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*
SECTION 1 CSS PROPERTIES
*/
.section1 {
    display: flex;
    justify-content: space-between;
}

/*
SECTION 2 CSS PROPERTIES
*/

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2 span {
    text-align: center;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img {
    height:200px;
}


/*
SECTION 3 CSS PROPERTIES
*/
.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section3 span {
    align-self: center;
}