/* 
background hero-footer
#1F2937

hero main text "this website is awesome"
48px extra-bold #F9FAF8

hero secondary text, header link text
18px #E5E7EB

header logo text
24px #F9FAF8

button color, call to action background color
#3882F6

information header text
36px extra-bold #1F2937

quote section background color
#E5E7EB

quote text
36px light italic #1F2937
*/
body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    
}

/* START HEADER*/
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    flex-shrink: 0;
}
.right ul{
    display:flex;
    gap:20px;
}
.right li{
    flex-shrink: 0;
}
.header .right li {
    font-size: 18px;
    color: #E5E7EB;
}
/* END HEADER */

/* START HERO */
.hero {
    display: flex;
    background-color: #1F2937;

}
.hero .right, .hero .left{
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.hero .left .hero-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}
.hero .left .text {
    font-size: 18px;
    color: #E5E7EB;
}


.button-container button{
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
}
.hero .right{
    border: 1px solid white;
    align-items: center;
    justify-content: center;
}

.hero .right .img {
    border-radius: ;
    height: 50px;
    width: 200px;
    background-color: bisque;
    border: 1px solid white;
}

/* END HERO */

/* START INFO */
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information .info-header {
    font-size: x-large;

}


.information .wrapper {
    display: flex;

}
.item {
    height: 50px;
    width: 50px;
    background-color: black;
    border: 1px solid white;
}
    

/* END INFO */





.footer{
    margin-top: auto;
}